@charset "utf-8";
.banner img{
    width: 100%;
}
.centent{
    height: 1100px;
    background-color: #F1F2F7;
    padding-top: 23px;
}
.centent .centent-top p{
    width: 276px;
    height: 48px;
    background-color: #84D7AD;
    font-size: 20px;
    line-height: 48px;
    padding-left: 13px;
    color: #fff;
}
.centent .centent-top .left{
    background: url(../img/list.png) no-repeat 260px center;
}
.centent .centent-top .right{
    background: url(../img/ss.png) no-repeat 260px center;
}
.centent .centent-btm{
    margin-top: 13px;
}
.centent .centent-btm li{
    width: 409px;
    height: 259px;
    margin-right: 20px;
    margin-bottom: 60px;
}
.centent .centent-btm .you{
    margin-right: 0;
}
.fenye{
    width: 89px;
    margin-left: auto;
    margin-right: auto;
}
.fenye p{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #19B961;
    font-size: 12px;
    color: #fff;
    margin-left: 1px;
}