@charset "utf-8";
.swiper-slide img{
    width: 100%;
}
.content .tu img{
	width:308px;
	height:230px;
	margin-right:6px;
    margin-top:20px;
    margin-bottom: 20px;
}
.zxzx{
	background-color: #F1F2F7;
    padding-bottom: 120px;
}
.zxzx_box{
	height:605px;
}
.zxzx_tp{
	height:142px;
	line-height:175px;
    border-bottom:1px solid #B5B5B5;

}
.zxzx_tp h4{
	font-size:24px;
	color:#16436D;
	background:url(../images/zx.jpg) no-repeat left center;
	padding-left:70px;
}
.zxzx_bt{
	width:377px;
	height:507px;
	background-color:red;
}
.zxzx_left{
	width: 780px;
	height: 509px;
	float: left;
	margin-top: 41px;
	position: relative;
}
.zxzx_left img{
    width: 100%;
}
.zxzx_left li{
	width: 376px;
	height: 508px;
	line-height: 48px;
    background-color: #FFFFFF;
    margin-right: 20px;
}
.zxzx_left .li1{
	font-size: 20px;
	font-family: "宋体";
	font-weight: bold;
	color: #082D62;
	text-indent: 2rem;
}
.zxzx_left .li2{
	font-size: 12px;
	color: #0DBC5D;
    font-weight: bold;
    text-indent: 2rem;
}
.zxzx_right{
	width: 460px;
	height: 509px;
}
.zxzx_right li{
    width: 458px;
    height: 104px;
    margin-top: 31px;
    background-color: #FFFFFF;
    position: relative;
}
.zxzx_right li img{
    height: 100%;
    margin-right: 10px;
}
.zxzx_right li .li4{
    font-size: 14px;
    color: #0EBD5B;
    position: absolute;
    left:165px;bottom:10px;
}




.navv{
	margin-top: 218px;
}
.navv .navv_left{
	width: 284px;
	height: 209px;
	line-height: 110px;

}
.navv_left h3{
	font-size: 50px;
	color: #15416E;
}
.navv_left .px{
	font-size: 20px;
	color: #15416E;
	font-family: "宋体";
	font-weight: bold;
}
.navv_left  .yd{
	font-size: 20px;
	line-height: 57px;
	text-align: center;
	width: 216px;
	height: 57px;
	background-color: #17BA5F;
}
.navv_left  .yd a{
    color: #fff;
}
.navv li{
    width: 394px;
    height: 316px;
    text-align: center;
    background-color: #15416E;
    margin-left: 50px;
    color: #fff;
    font-size: 14px;
}
.navv li p{
    width: 294px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.navv li .xm{
    font-size: 18px;
    color: #19B961;
}

